/* Globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  perspective: 150rem;
  transform-style: preserve-3d; /* Ensures 3D transforms work */
}

.card-front,
.card-back {
  backface-visibility: hidden; /* Hides the back face when flipped */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-front {
  background: #1a1a1a;
  transform: rotateY(0deg);
}

.card-back {
  background: #2c3e50;
  transform: rotateY(180deg); /* Initially rotated 180deg */
}

.perspective {
  perspective: 1000px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* globals.css (or your global CSS file) */

/* Initial state - Page is transparent */
.fade-in-page {
  opacity: 0; /* Start completely transparent */
}

/* Class to trigger fade-in animation */
.fade-in-page.animate-fade-in {
  opacity: 1; /* Fade to fully opaque */
  transition: opacity 1s ease-in-out; /* Define the transition */
}
